body{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 180%;
    font-size: 17px;
    box-sizing: border-box;
}

/* header */
header{
    margin: 2rem 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightsteelblue;
}

h1{
    display: inline;
    padding-right:1rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: rgb(74, 74, 74);
}

header span{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: rgb(94, 94, 94);
}

/* main */
main{
    max-width: 880px;
    margin: 2rem auto;
}

section{
    margin: 1.3rem auto;
    padding: 2.5rem 0;
    width: 100%;
}

h2{
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-bottom: 1.5em;
    color: rgb(74, 74, 74);
}

h3{
    display: inline-block;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1em 0 0.5em;
    color: rgb(92, 126, 172);
    border-bottom: 1px solid lightsteelblue;

}

p,
ul li{
    margin-top: 0;
    font-weight: 400;
    color: rgb(104, 104, 104);
}

ul li{
    list-style-type: circle;
}


.big{
    display: block;
    font-size: 1.3rem;
    border-bottom: none;
}

.bigger{
    font-size: 1.1rem;
}

.sep{
    width:30%;
    height:0;
    border-bottom: 3px solid lightsteelblue;
    margin: 0 auto;
}

.category{
    margin: 3rem 0 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(92, 126, 172)
}

.wrapper{
    display: flex;
    justify-content: center;
}

.final{
    margin-top: 3rem;
    letter-spacing: 0.1em;
    font-weight: 600;
}

#last{
    margin-top:3rem;
}

#emotion{
    width: 65%;
    margin: 1rem auto 3rem;
}

#coding{
    width: 70%;
    margin: 3rem auto;
}


